.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #739BD0;
    background: linear-gradient(45deg, #003cff, #6dcbf7);
    backdrop-filter: blur(10px);
  
}

.home h1 {
    color: #fff;
    text-align: center;
    font-size: 4rem;
}

@media screen and (max-width: 768px)
{
    .home h1 {
        
        font-size: 2rem;   
    }
}