.Services {
    position: relative; 
}

.Services button {
    z-index: 2; 
    margin: 20px;
    font-size: 1rem;
    color: #fff;
    position: relative; 
    display: inline-block; 
}

.gradient-freelancer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#hero {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#hero h1,
.Services h1 {
    z-index: 2;
    margin: 10px;
    font-size: 3rem;
}

#hero p,
.Services p {
    z-index: 2;
    margin: 10px;
    font-size: 1.5rem;
}

.Services button:hover {
    background-color: rgba(0, 174, 255, 0.75);
  }

  .Services,
#hero {
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center; 
}

.Services,
#hero {
    background-color: #f0f0f0;
}