.video-container {
  display: flex;
  height: 100vh;
}

.left-vid {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #88c9ff;
}

.left-vid h1 {
  z-index: 2;
  color: #000;
}

.video-sec {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-sec video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  scroll-snap-align: start;
}

@media screen and (max-width: 768px) {
    .video-container{
        display: flex;
        flex-direction: column;
        /* width: 100vh; */
    }
  .left-vid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #88c9ff;
  }

  .video-sec {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 523px) {
    .video-container{
        display: flex;
        flex-direction: column;
        width: 100vh;
    }
}
